body {
    margin:0;
    font-family:Arial;
    background:#f4f6f9;
}

.sidebar {
    width:230px;
    background:#1f2937;
    color:white;
    height:100vh;
    float:left;
    padding:20px;
}

.sidebar a {
    display:block;
    color:white;
    padding:10px;
    margin:5px 0;
    background:#374151;
    border-radius:6px;
    text-decoration:none;
}

.sidebar a:hover {
    background:#4b5563;
}

.content {
    margin-left:250px;
    padding:20px;
}
